<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal Arr - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>  
    <div class="sidebar">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo-equatorial.png') }}" alt="Equatorial Energia" class="logo-image">
        </div>
        <nav>
            <ul>
                <li>
                    <a href="{{ url_for('index') }}" 
                       class="nav-link {% if request.path == url_for('index') %}active{% endif %}">
                       <!---Ícone de home do site https://fontawesome.com/-->
                       <i class="fa-solid fa-house"></i>
                       <span>Início</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('dashboards') }}" 
                       class="nav-link {% if request.path == url_for('dashboards') %}active{% endif %}">
                       <!---Ícone de dashboard do site https://fontawesome.com/-->
                       <i class="fa-solid fa-chart-line"></i>
                       <span>Relatórios</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="main-content fade-in">
        {% block content %}{% endblock %}
        <!-- 🔻 Rodapé -->
        <footer class="footer fade-in">
            <p>© {{ current_year if current_year else "2025" }} Área Executiva de Gestão e Operação da Arrecadação - Todos os direitos reservados.</p>
        </footer>
    </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>