{% extends "base.html" %}

{% block title %}Relatórios{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <h1 class="fade-in" style="animation-delay: 0.3s;">Relatórios da Área</h1>
        
        <div class="dashboard-container">
            <!-- Container Operacional -->
            <div class="category-container fade-in" style="animation-delay: 0.1s;">
                <h2 class="category-title">Operacional</h2>
                
                <div class="subcategory">
                    <div class="subcategory-header" onclick="toggleSubcategory('operacional-conciliacao-bancos')">
                        <h3>Conciliação de Bancos</h3>
                        <span class="toggle-icon" id="operacional-conciliacao-bancos-icon">+</span>
                    </div>
                    <ul class="dashboard-list" id="operacional-conciliacao-bancos-list">
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Concilia%C3%A7%C3%A3o%20de%20Bancos%20-%20EQTL%20MAPAPIAL?rs:Command=Render&rc:Toolbar=false" target="_blank">
                               Conciliação de Bancos MAPAPIALAP</a>
                            <span class="dashboard-description">Conciliação diária de bancos Equatorial MA, PA, PI, AL e AP</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Concilia%C3%A7%C3%A3o%20de%20Bancos%20-%20EQTL%20GO?rs:Command=Render&rc:Toolbar=false" target ="_blank">
                                Conciliação de Bancos GO</a>
                            <span class="dashboard-description">Conciliação diária de bancos Equatorial GO</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Conciliacao%20de%20Cart%C3%A3o%20-%20EQTL%20RS?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                Conciliação de Bancos RS</a>
                            <span class="dashboard-description">Conciliação diária de bancos Equatorial RS</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Acompanhamento%20Concilia%C3%A7%C3%A3o%20Cont%C3%A1bil?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                Conciliação Contábil</a>
                            <span class="dashboard-description"> Relatório de acompanhamento da Conciliação Contábil MA, PA, PI, AL e AP</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Conciliacao%20de%20Cart%C3%A3o%20-%20EQTL%20MAPAPIALAP%20(retroativo)?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                Conciliação de Bancos MAPAPIAL (Retroativo)</a>
                            <span class="dashboard-description"> Relatório retroativo da Conciliação de Bancos MA, PA, PI, AL e AP</span>
                        </li>
                    </ul>
                </div>
                
                <div class="subcategory">
                    <div class="subcategory-header" onclick="toggleSubcategory('operacional-conciliacao-cartoes')">
                        <h3>Conciliação de Cartão</h3>
                        <span class="toggle-icon" id="operacional-conciliacao-cartoes-icon">+</span>
                    </div>
                    <ul class="dashboard-list" id="operacional-conciliacao-cartoes-list">
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Conciliacao%20de%20Cart%C3%A3o%20-%20EQTL%20MAPAPIALAP?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                MAPAPIALAP</a>
                            <span class="dashboard-description">Conciliação diária de cartão Equatorial MA, PA, PI, AL e AP</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Conciliacao%20de%20Cart%C3%A3o%20-%20EQTL%20GO?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                GO</a>
                            <span class="dashboard-description">Conciliação diária de cartão Equatorial GO</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Conciliacao%20de%20Cart%C3%A3o%20-%20EQTL%20RS?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                RS</a>
                            <span class="dashboard-description">Conciliação diária de cartão Equatorial RS</span>
                        </li>
                    </ul>
                </div>
                
                <div class="subcategory">
                    <div class="subcategory-header" role="button" tabindex="0" onclick="toggleSubcategory('operacional-monitoramento')">
                        <h3>Processamento de Arquivos</h3>
                        <span class="toggle-icon" id="operacional-monitoramento-icon">+</span>
                    </div>
                    <ul class="dashboard-list" id="operacional-monitoramento-list">
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Painel%20de%20processamento%20de%20arquivos%20-%20EQTL%20MA?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                Painel de Processamento de Arquivos MA</a>
                            <span class="dashboard-description">Relatório de Controle do Processamento de Arquivos Bancários Equatorial MA</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Painel%20de%20processamento%20de%20arquivos%20-%20EQTL%20PA?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                Painel de Processamento de Arquivos PA</a>
                            <span class="dashboard-description">Relatório de Controle do Processamento de Arquivos Bancários Equatorial PA</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Painel%20de%20processamento%20de%20arquivos%20-%20EQTL%20PI?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                Painel de Processamento de Arquivos PI</a>
                            <span class="dashboard-description">Relatório de Controle do Processamento de Arquivos Bancários Equatorial PI</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Painel%20de%20processamento%20de%20arquivos%20-%20EQTL%20AL?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                Painel de Processamento de Arquivos AL</a>
                            <span class="dashboard-description">Relatório de Controle do Processamento de Arquivos Bancários Equatorial AL</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Painel%20de%20processamento%20de%20arquivos%20-%20EQTL%20AP?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                Painel de Processamento de Arquivos AP</a>
                            <span class="dashboard-description">Relatório de Controle do Processamento de Arquivos Bancários Equatorial AP</span>
                        </li>
                    </ul>
                </div>
                <div class="subcategory">
                    <div class="subcategory-header" role="button" tabindex="0" onclick="toggleSubcategory('operacional-clarificacao')">
                        <h3>Clarificação</h3>
                        <span class="toggle-icon" id="operacional-clarificacao-icon">+</span>
                    </div>
                    <ul class="dashboard-list" id="operacional-clarificacao-list">
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Clarifica%C3%A7%C3%A3o_Creditos?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                Clarificação Créditos</a>
                            <span class="dashboard-description">Relatório de Créditos de Clarificação</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Controle_Clarifica%C3%A7%C3%A3o?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                Controle de Clarificação (Ano Atual)</a>
                            <span class="dashboard-description">Relatório de Controle de Clarificação para o ano atual</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Controle_Clarifica%C3%A7%C3%A3o%20(Gerencial)?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                Controle de Clarificação (Gerencial)</a>
                            <span class="dashboard-description">Relatório de Créditos de Clarificação ano atual e passivo</span>
                        </li>
                    </ul>
                </div>
                <div class="subcategory">
                    <div class="subcategory-header" role="button" tabindex="0" onclick="toggleSubcategory('operacional-cartao')">
                        <h3>Cartão</h3>
                        <span class="toggle-icon" id="operacional-cartao-icon">+</span>
                    </div>
                    <ul class="dashboard-list" id="operacional-cartao-list">
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Arrecada%C3%A7%C3%A3o%20de%20Cart%C3%A3o?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                Arrecadação de Cartão</a>
                            <span class="dashboard-description">Relatório de Arrecadação de Cartão</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Torpedo%20Ociosidade%20POS?rs:Command=Render&rc:Toolbar=false?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                Torpedo de Ociosidade POS</a>
                            <span class="dashboard-description">Torpedo de Ociosidade de POS por Distribuidora e Regional</span>
                        </li>
                    </ul>
                </div>
                <div class="subcategory">
                    <div class="subcategory-header" role="button" tabindex="0" onclick="toggleSubcategory('operacional-reclamacao')">
                        <h3>Reclamação</h3>
                        <span class="toggle-icon" id="operacional-reclamacao-icon">+</span>
                    </div>
                    <ul class="dashboard-list" id="operacional-reclamacao-list">
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Monitoramento%20de%20Reclamacoes?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                Monitoramento de Reclamações</a>
                            <span class="dashboard-description">Monitoramento parcial de reclamações</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Torpedo%20Reclama%C3%A7%C3%B5es%20Pendentes?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                Torpedo de Reclamações</a>
                            <span class="dashboard-description">Torpedo de Reclamações por Distribuidora</span>
                        </li>
                    </ul>
                </div>
                <div class="subcategory">
                    <div class="subcategory-header" role="button" tabindex="0" onclick="toggleSubcategory('operacional-outros')">
                        <h3>Outros Relatórios</h3>
                        <span class="toggle-icon" id="operacional-reclamacao-icon">+</span>
                    </div>
                    <ul class="dashboard-list" id="operacional-outros-list">
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Controle%20de%20ordens%20de%20debito%20-%20EQTL%20MA?rs:Command=Render&rc:Toolbar=false" 
                            target="_blank">
                                Ordens de Débito - MA</a>
                            <span class="dashboard-description">Relatório de controle de ordens de débito da Equatorial MA</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Controle%20de%20ordens%20de%20debito%20-%20EQTL%20PA?rs:Command=Render&rc:Toolbar=false" 
                            target="_blank">
                                Ordens de Débito - PA</a>
                            <span class="dashboard-description">Relatório de controle de ordens de débito da Equatorial PA</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Controle%20de%20ordens%20de%20debito%20-%20EQTL%20PI?rs:Command=Render&rc:Toolbar=false" 
                            target="_blank">
                                Ordens de Débito - PI</a>
                            <span class="dashboard-description">Relatório de controle de ordens de débito da Equatorial PI</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Controle%20de%20ordens%20de%20debito%20-%20EQTL%20AL?rs:Command=Render&rc:Toolbar=false" 
                            target="_blank">
                                Ordens de Débito - AL</a>
                            <span class="dashboard-description">Relatório de controle de ordens de débito da Equatorial AL</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Base%20Cod%20de%20Barras%20-%20EQTL%20MAPAPIALAP?rs:Command=Render&rc:Toolbar=false" 
                            target="_blank">
                                Base Código de Barras</a>
                            <span class="dashboard-description">Base de Clientes Cadastrados na modalidade Código de Barras MA, PA, PI, AL e AP</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Migra%C3%A7%C3%A3o%20Clientes%20Cod%20Barras?rs:Command=Render&rc:Toolbar=false" 
                            target="_blank">
                                Migração Clientes Código de Barras</a>
                            <span class="dashboard-description">Relatório com a Base de Clientes a serem migrados para Código de Barras MA, PA, PI e AL</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Controle%20de%20baixas%20manuais?rs:Command=Render&rc:Toolbar=false" 
                            target="_blank">
                                Baixas Manuais</a>
                            <span class="dashboard-description">Relatório de Controle de Baixas Manuais MA, PA, PI, AL e AP</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Controle%20de%20baixas%20manuais?rs:Command=Render&rc:Toolbar=false" 
                            target="_blank">
                                Controle Chargeback</a>
                            <span class="dashboard-description">Relatório de Controle de Chargeback de Cartão MA, PA, PI e AL</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Monitoramento%20Tarifas?rs:Command=Render&rc:Toolbar=false" 
                            target="_blank">
                                Monitoramento de Tarifas BB (Francesinha)</a>
                            <span class="dashboard-description">Painel de Monitoramento de Tarifas do Banco do Brasil MA, PA, PI e AL.</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/1%20-%20OPERACIONAL/Registros%20de%20Boleto%20-%20MAPAPIAL?rs:Command=Render&rc:Toolbar=false" 
                            target="_blank">
                                Registros de Boleto</a>
                            <span class="dashboard-description">Base de Boletos Registrados com Erro Banco do Brasil MA, PA e PI.</span>
                        </li>
                    </ul>
                </div>
            </div>
            
            <!-- Container Estratégico -->
            <div class="category-container fade-in" style="animation-delay: 0.1s;">
                <h2 class="category-title">Estratégico</h2>
                
                <div class="subcategory">
                    <div class="subcategory-header" role="button" tabindex="0" onclick="toggleSubcategory('estrategico-indicadores')">
                        <h3>Indicadores de Desempenho</h3>
                        <span class="toggle-icon" id="estrategico-indicadores-icon">+</span>
                    </div>
                    <ul class="dashboard-list" id="estrategico-indicadores-list">
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/2%20-%20ESTRATEGICO/9%20EQUATORIAL/INDICADOR%20PIX?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                Participação do PIX na Arrecadação</a>
                            <span class="dashboard-description">Índice de participação do PIX na arrecadação</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/2%20-%20ESTRATEGICO/9%20EQUATORIAL/INDICADOR%20REC?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                Reclamações de Arrecadação</a>
                            <span class="dashboard-description">Índice de reclamações de arrecadação</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/2%20-%20ESTRATEGICO/9%20EQUATORIAL/INDICADOR%20NT?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                Conciliação de Contas Contábeis</a>
                            <span class="dashboard-description">Índice de conciliação de NT</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/2%20-%20ESTRATEGICO/9%20EQUATORIAL/INDICADOR%20GG?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                Gastos Gerenciáveis</a>
                            <span class="dashboard-description">Indicador de gastos gerenciáveis</span>
                        </li>
                    </ul>
                </div>
                <div class="subcategory">
                    <div class="subcategory-header" role="button" tabindex="0" onclick="toggleSubcategory('estrategico-outros')">
                        <h3>Outros Relatórios</h3>
                        <span class="toggle-icon" id="estrategico-outros-icon">+</span>
                    </div>
                    <ul class="dashboard-list" id="estrategico-outros-list">
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/2%20-%20ESTRATEGICO/Gest%C3%A3o%20de%20Projetos%20de%20Arrecada%C3%A7%C3%A3o?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                Projetos de Arrecadação</a>
                            <span class="dashboard-description">Relatório com o andamento dos projetos de arrecadação</span>
                        </li>
                    </ul>
                </div>
            </div>
            
            <!-- Container Gerencial -->
            <div class="category-container fade-in" style="animation-delay: 0.1s;">
                <h2 class="category-title">Gerencial</h2>
                
                <div class="subcategory">
                    <div class="subcategory-header" role="button" tabindex="0" onclick="toggleSubcategory('gerencial-relatorios')">
                        <h3>Relatórios Gerenciais</h3>
                        <span class="toggle-icon" id="gerencial-relatorios-icon">+</span>
                    </div>
                    <ul class="dashboard-list" id="gerencial-relatorios-list">
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/3%20-%20GERENCIAL/Matriz%20de%20Arrecadacao?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                Matriz de Arrecadação</a>
                            <span class="dashboard-description">Matriz de arrecadação do Grupo Equatorial</span>

                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/3%20-%20GERENCIAL/Report%20Semanal%20de%20Arrecada%C3%A7%C3%A3o?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                Report Semanal de Arrecadação</a>
                            <span class="dashboard-description">Relatório Semanal de Arrecadação com visão orçamentária e ranking de distribuidoras</span>
                        </li>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/3%20-%20GERENCIAL/Ritmo%20de%20Arrecadacao?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                Ritmo da Arrecadação</a>
                            <span class="dashboard-description">Relatório do ritmo da arrecadação com forecast diário</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/3%20-%20GERENCIAL/BSC%20-%20Concilia%C3%A7%C3%A3o%20Comercial?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                BSC Conciliação Comercial</a>
                            <span class="dashboard-description">Balanced Scorecard da conciliação comercial</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/3%20-%20GERENCIAL/Report%20Arrecadacao?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                Report de Arrecadação</a>
                            <span class="dashboard-description">Relatório resumido de arrecadação</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/3%20-%20GERENCIAL/Volume%20arrecadadado%20-%20Institui%C3%A7%C3%B5es%20Financeiras?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                Volume Arrecadado - Instituições Financeiras</a>
                            <span class="dashboard-description">Relatório de volume arrecadado por instituição financeira</span>
                        </li>
                        <li class="fade-in" style="animation-delay: 0.1s;">
                            <a href="http://bi.equatorialenergia.com.br/reports/powerbi/CORP-COBRANCA/ARRECADA%C3%87%C3%83O/3%20-%20GERENCIAL/Segmentacao%20da%20Arrecadacao?rs:Command=Render&rc:Toolbar=false" target="_blank">
                                Segmentação da Arrecadação</a>
                            <span class="dashboard-description">Segmentação do volume de arrecadação por Distribuidora, Regional, Seccional, Distrital, Modalidade, Grupo de tensão e Classe Principal. </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
function toggleSubcategory(subcategoryId) {
    const list = document.getElementById(`${subcategoryId}-list`);
    const icon = document.getElementById(`${subcategoryId}-icon`);
    
    if (list.style.display === 'none' || !list.style.display) {
        list.style.display = 'block';
        icon.textContent = '-';
    } else {
        list.style.display = 'none';
        icon.textContent = '+';
    }
}

// Inicializa com todas as subcategorias fechadas
document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.dashboard-list').forEach(list => {
        list.style.display = 'none';
    });
});
</script>
{% endblock %}